body{
    background-image: url(backgroundlogo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.top{
    background-color: black;
    width: 100%;
    height: 15%;
    border: 4px solid black;
}
.top > h1{
    text-align: center;
    color: white;
}
.top > p{
    text-align: right;
    margin-bottom: 4px;
    color: white;
}
.card-list{
    position: relative;
    width: 100%;
    text-align: center;
    transform: scale(0.8);
}
.card{
    position: relative;
    width: 30%;
    border-radius: 8px;
    margin: 10px;
    display:inline-block;
}
.card img{
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.26);
}
.textwrap{
    position: absolute;
    bottom: 0;
    left: 5%;
    text-align: left;
    padding: 0;
    z-index: 2;
}
.textwrap > h1{
    font-size: 24px;
}
.card:hover {
    transform:scale(0.95);
    cursor: pointer;
    transition: 0.3s;
}