section{
    padding: 0;
    margin-bottom: 50px;
}
body{
    padding: 0;
    margin: 0;
    background-image: url(backgroundlogo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
}
.top{
    border: 1px solid black;
    background-image: url(topimage.jpg);
    width: 100%;
    height: 15%;
}
.top > h1{
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: white;
}
.top > p{
    font-family: 'Dancing Script', cursive;
    text-align: right;
    margin-bottom: 4px;
    color: white;
}
nav{
    position: relative;
    width: 100%;
    padding: 0;
    margin: 2px;
    text-align: left;
}
nav > input{
    font-size: 13px;
    background-color: #606060;
    height: 25px;
    margin: 0;
    padding: 4px;
    text-align: center;
    border: 1px solid black;
    display: inline-block;
}
article{
    margin-top: 0;
    background-color: #959595;
    opacity: 90%;
}
article > p{
    line-height: 30px;
    margin: 5%;
    padding: 32px;
}
.card-list{
    position: relative;
    width: 100%;
    opacity: 0%;
    text-align: center;
    transform: scale(0.8);
    transition: 0.3s;
}
.text-box-title{
    position: relative;
    margin-bottom: 0;
    width: 100%;
    opacity: 90%;
    text-align: left;
    background-color: #606060;
}
.text-box-title > h1{
    font-size: 24px;
    margin-left: 3%;
    padding: 10px;
}
.card{
    position: relative;
    padding-top: 0;
    width: 30%;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 8px;
    display:inline-block;
}
.card img{
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.26);
}
.textwrap{
    position: absolute;
    bottom: 0;
    left: 5%;
    text-align: left;
    padding: 0;
    z-index: 2;
}
.textwrap > h1{
    color: black;
    font-size: 24px;
}
#what:hover{
    cursor: pointer;
    transform: scale(0.95);
}
#which:hover{
    cursor: pointer;
    transform: scale(0.95);
}
#since:hover{
    cursor: pointer;
    transform: scale(0.95);
}
#showmagazine :hover{
    cursor: pointer;
}
#showmagazine:hover .card-list{
    font-size: 50px;
    opacity: 100%;
    transition: 0.3s;
}
.card:hover {
    transform:scale(0.95);
    cursor: pointer;
    transition: 0.3s;
}