body{
    padding: 0;
    margin: 0;
    background-image: url(backgroundlogo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
}
section{
    margin-bottom: 50px;
    font-family: 'Nanum Myeongjo', serif;
}
.top{
    padding-bottom: 0;
    border: 1px solid black;
    background-image: url(topimage.jpg);
    font-family: 'Dancing Script', cursive;
    color: white;
    width: 100%;
    height: 200px;
    z-index: 2;
}
.top > h1{
    padding-top: 60px;
    font-size: 40px;
    text-align: center;
}
.top > p{
    text-align: right;
    margin-bottom: 2px;
}
nav{
    position: fixed;
    width: 100%;
    height: 45px;
    padding: 0;
    margin: 2px;
    text-align: left;
    background-color: black;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.26);
    z-index: 5;
}
nav > input{
    height: 45px;
    margin: 0;
    padding: 0px;
    background-color: black;
    border: 2px solid black;
    display: inline-block;
    font-size: 13px;
    text-align: center;
    color: white;
}
article{
    margin-top: 0;
    background-color: #959595;
    opacity: 0%;
}
article > p{
    border-left: 15px solid #505050;
    line-height: 30px;
    margin: 0;
    padding: 32px;
}
.card-list{
    position: relative;
    width: 100%;
    opacity: 0%;
    margin-top: 0;
    padding: 0;
    text-align: center;
    transform: scale(0.8);
    transition: 0.3s;
}
.text-box-title{
    position: relative;
    width: 100%;
    opacity: 95%;
    text-align: left;
    background-color: #505050;
}
.text-box-title > h1{
    font-size: 24px;
    margin-left: 3%;
    padding: 10px;
}
.card{
    position: relative;
    width: 30%;
    border-radius: 8px;
    margin-left: 8px;
    display:inline-block;
}
.card img{
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.26);
}
.textwrap{
    position: absolute;
    bottom: 0;
    left: 5%;
    text-align: left;
    padding: 0;
    z-index: 2;
}
.textwrap > h1{
    color: black;
    font-size: 24px;
}
.bottom{
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: gray;
    text-align: center;
}
nav :hover{
    cursor:pointer;
    color: yellow;
    transform: scale(0.95);
}
#showmagazine :hover{
    cursor: pointer;
}
.card:hover {
    transform:scale(0.95);
    cursor: pointer;
    transition: 0.3s;
}